.nav-bar-container {
    width: 100%;
    height: 68px;
    background-color: #ffffff;

    display: flex;
    flex-direction: row;
    justify-content: space-between;

    box-sizing: border-box;

    padding-top: 8px;
    padding-right: 15px;
    padding-left: 15px;
    margin-right: auto;
    margin-left: auto;
}

.logo {
    padding-left: 80px;
    font-size: 38px;
    font-weight: 400;
    color: #ff6c5f;
    font-family: 'Montserrat', sans-serif;
}

.cv-logo {
    font-weight: 700;
}

.links {
    margin-right: 65px;
    margin-top: 10px;
}

img {
    margin-left: 4px;
    margin-right: 4px;
    width: 36px;
    height: 36px;
}
