<div class='nav-bar-container'>
  <div class='logo'>
    Personal Website
  </div>
  <div class='links'>
    <a target='_blank' href='https://github.com/Stefanos423'>
      <img alt='github-link' src='assets/github.svg'/>
    </a>
    <a target='_blank' href='https://www.linkedin.com/in/stefanos-panagiotis-argyriou-6a2790133/'>
      <img alt='linkedin-link' src='assets/linkedin.svg'/>
    </a>
    <img alt='facebook-link' src='assets/facebook.svg'/>
    <img alt='youtube-link' src='assets/YouTube.svg'/>
  </div>
</div>