.nav-bar-container {
    width: 100%;
    background-color: #ffffff;

    display: flex;
    flex-direction: row;
    justify-content: space-between;

    box-sizing: border-box;

    padding-top: 0.5%;
    padding-right: 1%;
    padding-left: 1%;
    margin-right: auto;
    margin-left: auto;
}

.logo {
    padding-left: 4%;
    font-size: 38px;
    font-weight: 400;
    color: #00bce4;
    font-family: 'Montserrat', sans-serif;
}

.cv-logo {
    font-weight: 700;
}

.links {
    margin-right: 1%;
    margin-top: 0.5%;
}

.links a {
    text-decoration: none;
}

img {
    margin-left: 4px;
    margin-right: 4px;
    width: 36px;
    height: 36px;
}

button.mat-raised-button.mat-black {
    background-color: black;
    color: white;
}