.my-skills-container {
    font-family: 'Montserrat', sans-serif;
}

.header {
    font-size: 40px;
    font-weight: 500;
    margin-top: 60px;
    margin-bottom: 0.8em;
    color: #000;
    text-transform: capitalize;
}

.skills {
    display: flex;
    flex-direction: row;
}

.technical-skills-container {
    width: 50%;
}

.panes {
    margin: 50px 10px 10px 70px;
}

h4 {
    font-size: 1.6em;
    color: #232323;
    letter-spacing: 1px;
    margin-bottom: 1.4em;
    padding-bottom: 0em;
    position: relative;
}

h4:after {
    position: absolute;
    content: '';
    background: #1cc7d0;
    width: 20%;
    height: 2px;
    left: 1%;
    bottom: -40%;
}

p {
    font-size: 14px;
    letter-spacing: 1px;
    color: #333;
    line-height: 28px;
    margin-bottom: 3em;
}

.progress-bars {
    width: 94%;
}

mat-progress-bar {
    height: 25px;
}

.progress-bar {
    margin-bottom: 10px;
}

.my-services-container {
    width: 50%;
}

.text {
    display: inline-block;
    text-align: center;
}

.buttons {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    margin-bottom: 1em;
}

.list-item {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    width: 100%;
}

.date {
    width: 40%;
    color: #1cc7d0;
}

::ng-deep mat-divider {
    width: 95%;
    padding-top: 3em;
}

::ng-deep mat-list {
    padding-top: 3em;
}

a {
    color: #1cc7d0;
    text-decoration: none;
  }
  
  a:hover {
    text-decoration: underline;
  }
  
  a:active {
    color: black;
  }
  
  a:visited {
    color: purple;
  }