<div class='my-skills-container'>
  <div style='text-align: center'>
    <h3 class='header'>My skills</h3>      
  </div>
  <div class='skills'>
    <div class='technical-skills-container'>
      <div class='panes'>
        <h4>
          Technical skills
        </h4>
        <p>
          {{ technicalSkills }}
        </p>
        <div class='progress-bars'>
          <div class='progress-bar'>
            Javascript
            <mat-progress-bar
              [color]="'primary'"
              [mode]="'determinate'"
              [value]="90"
              [bufferValue]="0">
            </mat-progress-bar>
          </div>
          <div class='progress-bar'>
            Typescript
            <mat-progress-bar
              [color]="'primary'"
              [mode]="'determinate'"
              [value]="90"
              [bufferValue]="0">
            </mat-progress-bar>
          </div>
          <div class='progress-bar'>
            C#
            <mat-progress-bar
              [color]="'primary'"
              [mode]="'determinate'"
              [value]="85"
              [bufferValue]="0">
            </mat-progress-bar>
          </div>
          <div class='progress-bar'>
            MSSQL, PostgreSQL
            <mat-progress-bar
              [color]="'primary'"
              [mode]="'determinate'"
              [value]="85"
              [bufferValue]="0">
            </mat-progress-bar>
          </div>
          <div class='progress-bar'>
            Angular 2+
            <mat-progress-bar
              [color]="'primary'"
              [mode]="'determinate'"
              [value]="90"
              [bufferValue]="0">
            </mat-progress-bar>
          </div>
          <div class='progress-bar'>
            .NET Core, Entity Framework Core
            <mat-progress-bar
              [color]="'primary'"
              [mode]="'determinate'"
              [value]="80"
              [bufferValue]="0">
            </mat-progress-bar>
          </div>
          <div class='progress-bar'>
            Software Design and Methodologies
            <mat-progress-bar
              [color]="'primary'"
              [mode]="'determinate'"
              [value]="95"
              [bufferValue]="0">
            </mat-progress-bar>
          </div>
        </div>
        <p>
          Other knowledge: Entity Framework, Bash scripting, Docker, Kubernetes, AWS
        </p>
      </div>
    </div>
    <div class='my-services-container'>
      <div class='panes'>
        <h4>
            My Services
        </h4>
        <p>
          {{ services }}
        </p>
      </div>
    </div>
  </div>
</div>