.my-skills-container {
    font-family: 'Montserrat', sans-serif;
}

.header {
    font-size: 40px;
    font-weight: 500;
    margin-top: 60px;
    margin-bottom: 0.8em;
    color: #000;
    text-transform: capitalize;
}

.skills {
    display: flex;
    flex-direction: row;
}

.technical-skills-container {
    width: 50%;
}

.panes {
    margin: 50px 10px 10px 70px;
}

h4 {
    font-size: 1.6em;
    color: #232323;
    letter-spacing: 1px;
    margin-bottom: 1.4em;
    padding-bottom: 0em;
    position: relative;
}

h4:after {
    position: absolute;
    content: '';
    background: #1cc7d0;
    width: 20%;
    height: 2px;
    left: 1%;
    bottom: -40%;
}

p {
    font-size: 14px;
    letter-spacing: 1px;
    color: #333;
    line-height: 28px;
    margin-bottom: 3em;
}

.progress-bars {
    width: 94%;
}

mat-progress-bar {
    height: 25px;
}

.progress-bar {
    margin-bottom: 10px;
}

.my-services-container {
    width: 50%;
}

.service-icons {
    display: flex;
    flex-direction: row;
    align-content: center;
    flex-wrap: wrap;
    justify-content: center;
}

.service-icon {
    width: 33%;
}

.service-icon img {
    height: 48px;
    width: 48px;
    margin-right: 60px;
    margin-left: 60px;
    margin-top: 30px;
}

.service {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-content: center;
}

.text {
    display: inline-block;
    text-align: center;
}
