<div class='scrollable-info-container'>
    <div class='content'>
        <div class='text-scroll'>
            <button mat-button class='navigate-button' (click)='previousInfo($event)'>
                <img alt='linkedin-link' src='assets/navigate-before.svg'/>                
            </button>
            <div id='placeholder' class='w3-animate-right'>
                <h1 *ngIf='currentInfo === 1'>
                    My name is <span>Stefanos</span>
                </h1>
                <h1 *ngIf='currentInfo === 2'>
                    I 'm a <span>Developer</span>
                </h1>
                <h1 *ngIf='currentInfo === 3'>
                    Technology is my <span>passion</span>
                </h1>
                <div class='text-info' *ngIf='currentInfo === 1'>
                    {{ genericInfo }}
                </div>
                <div class = 'text-info' *ngIf='currentInfo === 2'>
                    {{ education }}
                </div>
                <div class = 'text-info' *ngIf='currentInfo === 3'>
                    {{ passion }}
                </div>
                <div class='contact'>
                    <button mat-raised-button color='primary' class='contact-buttons'>Hire Me</button>
                    <button mat-raised-button color='primary' class='contact-buttons'>Contact Me</button>
                </div>
            </div>
            <button mat-button class='navigate-button' (click)='nextInfo($event)'>
                <img alt='linkedin-link' src='assets/navigate-next.svg'/>                
            </button>
        </div>
        <div class='dots'>
            <span [ngClass]="currentInfo === 1 ? 'dot active' : 'dot inactive'"></span>
            <span [ngClass]="currentInfo === 2 ? 'dot active' : 'dot inactive'"></span>
            <span [ngClass]="currentInfo === 3 ? 'dot active' : 'dot inactive'"></span>
        </div>
    </div>
</div>
