.about-me-container {
    font-family: 'Montserrat', sans-serif;
}

.header {
    font-size: 40px;
    font-weight: 500;
    margin-top: 60px;
    margin-bottom: 0.8em;
    color: #000;
    text-transform: capitalize;
}

.details {
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.personal-information {
    width: 40%;
    background-image: url('../../assets/profile.jpg');
    background-size: 75%;
    background-repeat: no-repeat;
}

.cv-abstract {
    width: 35%;
    display: flex;
    flex-direction: column;
}

.introduction {
    font-size: 30px;
    font-weight: 500;
    text-transform: uppercase;
    letter-spacing: 0px;
    color: #00bce4;
}

.job-title {
    text-transform: capitalize;
    color: #252323;
}

.study-details {
    line-height: 28px;
    color: #212121;
    letter-spacing: .5px;
    font-size: 14px;
    padding-top: 1em;
    border-top: 1px dashed #646464;
}

.information {
    display: flex;
    flex-direction: column;
    color: #fff;
    height: 575px;
}
