<div class='about-me-container'>
  <div style='text-align: center'>
    <h3 class='header'>About Me</h3>      
  </div>
  <div class='details'>
    <div class='personal-information'>
      <div class='information'>
        <!-- <div class='row'>
          <span class='field-name'>NAME:</span>
          <span class='field'>Stefanos Panagiotis Argyriou</span>
        </div>
        <div class='row'>
          <span class='field-name'>DOB:</span>
          <span class='field'>02-11-1994</span>
        </div>
        <div class='row'>
          <span class='field-name'>PHONE:</span>
          <span class='field'>07503 368389</span>
        </div>
        <div class='row'>
          <span class='field-name'>JOB:</span>
          <span class='field'>Software Developer</span>
        </div>
        <div class='row'>
          <span class='field-name'>EXPERIENCE:</span>
          <span class='field'>3+ Years</span>
        </div>
        <div class='row'>
          <span class='field-name'>ADDRESS:</span>
          <span class='field'>10 Jubilee Rd, Belfast, Northern Ireland</span>
        </div>
        <div class='row'>
          <span class='field-name'>E-MAIL:</span>
          <span class='field'>stargirio2@yahoo.gr</span>
        </div>
        <div class='row'>
          <span class='field-name'>WEBSITE:</span>
          <span class='field'>stefanos423.github.io/personal-website</span>
        </div> -->
      </div>
    </div>
    <div class='cv-abstract'>
      <h3 class='introduction'>
        HI, I AM STEFANOS ARGYRIOU
      </h3>
      <h4 class='job-title'>
        Software Developer: 3+ Years of Coding Experience
      </h4>
      <p class='study-details'>
          My strong academic background has helped achieve an extensive knowledge of Computer Programming, Computer Software Design, Artificial Intelligence, Machine Learning, Knowledge Engineering and Biomedicine. During my studies I have successfully completed numerous academic and practical projects resulting in the further enforcement of my skills and abilities.
      </p>
      <p class='study-details'>
          In order to counteract the absence of industry involvement in Greek universities, I decided to complement my Software knowledge by seeking out challenging and rewarding working opportunities offered to young professionals by well known and recognizable companies. I am currently working as a Software Developer for Philips Digital Pathology at Belfast, UK.          
      </p>
    </div>
  </div>
</div>