<div class='about-me-container'>
  <div style='text-align: center'>
    <h3 class='header'>About Me</h3>      
  </div>
  <div class='details'>
    <div class='personal-information'></div>
    <div class='cv-abstract'>
      <h3 class='introduction'>
        HI, I AM STEFANOS ARGYRIOU
      </h3>
      <h4 class='job-title'>
        Software Developer: 3+ Years of Coding Experience
      </h4>
      <p class='study-details'>
          My strong academic background has helped achieve an extensive knowledge of Computer Programming, Computer Software Design, Artificial Intelligence, Machine Learning, Knowledge Engineering and Biomedicine. During my studies I have successfully completed numerous academic and practical projects resulting in the further enforcement of my skills and abilities.
      </p>
      <p class='study-details'>
          I am currently working as a Software Developer for Philips Digital Pathology at Belfast, UK. During my time at Philips, I am playing a key role in the development and deployment of a full stack of technologies in Xplore, a platform helping to drive the adoption of digital pathology where a user can access, import, store and query large volumes of digital slides and analytic data.
          I have always been a strong advocate for continuous improvement within the team though ongoing refinements, with an emphasis on product quality and delivery metrics.
          In-between delivering value for the clients, I enjoy mentoring the more junior or newer members of the team.
      </p>
      <p class='study-details'>
        In my spare time, I enjoy leisure coding, digital card games and travelling.
      </p>
    </div>
  </div>
</div>