.about-me-container {
    font-family: 'Montserrat', sans-serif;
}

.header {
    font-size: 40px;
    font-weight: 500;
    margin-top: 60px;
    margin-bottom: 0.8em;
    color: #000;
    text-transform: capitalize;
}

.details {
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.personal-information {
    width: 575px;
    height: 575px;
    background-image: url('../../assets/profile.jpg');
    background-size: 575px 575px;
}

.cv-abstract {
    margin-left: 50px;
    margin-right: 50px;
    width: 675px;
    height: 540px;
    display: flex;
    flex-direction: column;
}

.introduction {
    font-size: 30px;
    font-weight: 500;
    text-transform: uppercase;
    letter-spacing: 0px;
    color: #00bce4;
}

.job-title {
    text-transform: capitalize;
    color: #252323;
}

.study-details {
    line-height: 28px;
    color: #212121;
    letter-spacing: .5px;
    font-size: 14px;
    padding-top: 1em;
    border-top: 1px dashed #646464;
}

.information {
    display: flex;
    flex-direction: column;
    margin: 80px 20px 80px 40px;
    color: #fff;
}

.field-name {
    font-weight: bold;
    color: #00bce4;
}

.field {
    color: #00bce4;
}

.row {
    margin-bottom: 10px;
}

.contact-buttons {
    margin-right: 10px;
    margin-left: 10px;
    width: 122px;
    height: 43px;
}
